package ${package_name}.service;

import com.chencoder.common.base.base.BaseMapper;
import com.chencoder.common.base.base.BaseServiceImpl;
import ${package_name}.dao.BlogDao;
import org.springframework.beans.factory.annotation.Autowired;

/**
* ${beanClazz}Service接口
* Created by chenxh on ${ctime}.
*/
public class ${beanClazz}Service extends BaseServiceImpl {

    @Autowired
    private ${beanClazz}Dao ${beanProp}Dao;

    public ${beanClazz}Service(${beanClazz}Dao mapper) {
        super();
        ${beanProp}Dao = mapper;
    }

    @Override
    public BaseMapper getDao() {
        return ${beanProp}Dao;
    }
}